/*Toggle Manage Group Start*/


/*Ajax*/

.invisible_layer
{
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: 101;
}
.transparent_bg
{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background: #000;
    filter: alpha(opacity=60);
    -moz-opacity: 0.6;
    -khtml-opacity: 0.6;
    opacity: 0.6;
    z-index: 102;
    border-radius: 7px; /*-moz-border-radius:7px;  -webkit-border-radius:7px;*/
}
.loadingbar
{
    background: url(../Images/progress_ajax.gif) no-repeat center;
    height: 300px;
    width: 400px;
    position: absolute;
    top: 20%;
    margin: -8px 0 0 0;
    width: 100%;
    z-index: 103;
}
#processMessage
{
    position: fixed;
    padding: 10px;
    width: 100%;
    z-index: 103;
}
.modalBackground
{
    background-color: black;
    filter: alpha(opacity=70);
    opacity: 0.7;
}

/*******************************/
#panel, #flip {
    padding: 5px;
    text-align: left;
    border: solid 1px #c3c3c3;
}

#panel {
    padding: 10px;
}

#panel1, #flip1 {
    padding: 5px;
    text-align: left;
    border-right: solid 1px #c3c3c3;
    border-left: solid 1px #c3c3c3;
}

#flip1 {
    background-color: #f5f3f3;
}

#panel1 {
    height: 100px;
    padding: 10px;
    display: none;
    border: solid 1px #c3c3c3;
}
.table-fit {
    white-space: nowrap;
    width: 1px;
}
/*Toggle Manage Group End*/
